@inject Microsoft.AspNetCore.Identity.UserManager<BookingApp_v2.Data.Client> userManager

@model IEnumerable<BookingApp_v2.Models.ClientVM>

@{
    ViewData["Title"] = "ListEmployees";
}

<h1>List of Clients</h1>

<p>
    <a asp-action="CreateNewUser" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Create New</a>
</p>

<table @*id="tblData"*@ class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateJoined)
                </td>
                <td>
                    @{
                        var client = await userManager.FindByIdAsync(item.Id);
                        var roles = await userManager.GetRolesAsync(client);
                        var roleDisplay = string.Join(", ", roles);
                    }
                    @roleDisplay
                </td>
                <td>
                    <a asp-action="EditClientDetails" asp-route-id="@item.Id" class="btn btn-outline-warning"> <i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="ClientDetails" asp-route-id="@item.Id" class="btn btn-outline-primary"> <i class="fa-solid fa-circle-info"></i> </a>
                    <a asp-action="BookingsPerClient" asp-route-id="@item.Id" class="btn btn-outline-dark"> <i class="fa-solid fa-list-ol"></i> </a>
                    <a asp-action="DeleteClient" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this user?')" class="btn btn-outline-danger"> <i class="fa-solid fa-trash"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        let table = new DataTable('#tblData');
    </script>
}
