@model ClientRoomBookingViewVM
@{
    ViewData["Title"] = "MyBookings";
}

<hr/>

<h1>My Booking Records</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Room Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Booking Date
            </th>
            
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomBookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                    
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>

                <td>
                    @if (item.Status == "Pending")
                    {
                        <p style="color: dodgerblue"><b>Pending</b></p>
                    }
                    else if (item.Status == "Cancelled")
                    {
                        <p style="color: darkred"><b>Cancelled</b></p>
                    }
                    else
                    {
                        <p style="color: green"><b>Approved</b></p>
                    }
                </td>
                <td>
                    @if (DateTime.Now <= Convert.ToDateTime(item.StartDate) && item.Status == "Pending" || item.Status == "Approved")
                    {
                        <a asp-action="CancelBooking" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel your booking?')" class="btn btn-outline-danger"> Cancel <i class="fa-solid fa-pen-to-square"></i></a>
                    }
                </td>
                @*<td>
                        <a asp-action="CancelBooking" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel your booking?')" class="btn btn-outline-danger"> Cancel <i class="fa-solid fa-pen-to-square"></i></a>
                    
                </td>*@

                
                
            </tr>
        }
    </tbody>
</table>

@*@section Scripts{
    <script>
        let table = new DataTable('#tblData');
    </script>
}*@